<!DOCTYPE html>
<html>

<head>
	<title>Impiccato</title>
	<meta charset="UTF-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="src/styles.scss" />
</head>

<body>
	<div id="app">
		<div class="game">
			<div class="game__left">
				<div class="hanged">
					<svg width="290px" height="500px" viewBox="0 0 290 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<defs></defs>
						<g id="hanged-man">
							<g id="man">
								<circle v-if="badAttemps > 0" id="head" stroke="#151515" fill="none" stroke-width="3" cx="222.5" cy="117.5" r="33.5"></circle>
								<rect v-if="badAttemps > 1" id="body" fill="#151515" transform="translate(222.500000, 226.500000) scale(-1, 1) translate(-222.500000, -226.500000) "x="221" y="151" width="3" height="151"></rect>
								<polygon v-if="badAttemps > 2" id="right-arm" fill="#151515" points="222.549038 151.24241 161.049038 225.057466 158.450962 224.018023 219.950962 150.202967"></polygon>
								<polygon v-if="badAttemps > 3" id="left-arm" fill="#151515" points="286.799038 223.971604 284.200962 225.011046 222.200962 150.595867 224.799038 149.556425"></polygon>
								<rect v-if="badAttemps > 4" id="right-leg" fill="#151515" transform="translate(192.500000, 351.500000) scale(-1, 1) rotate(-30.000000) translate(-192.500000, -351.500000) " x="191" y="292" width="3" height="119"></rect>
								<rect v-if="badAttemps > 5" id="left-leg" fill="#151515" transform="translate(252.500000, 351.500000) scale(-1, -1) rotate(-30.000000) translate(-252.500000, -351.500000) " x="251" y="292" width="3" height="119"></rect>
							</g>
							<g id="pole">
								<rect id="Rectangle" fill="#151515" transform="translate(224.500000, 42.000000) scale(-1, 1) translate(-224.500000, -42.000000) " x="223" y="0" width="3" height="84"></rect>
								<rect id="Rectangle" fill="#151515" transform="translate(113.500000, 1.500000) scale(-1, 1) rotate(-270.000000) translate(-113.500000, -1.500000) " x="112" y="-111"width="3" height="225"></rect>
								<rect id="Rectangle" fill="#151515" transform="translate(1.500000, 250.000000) scale(-1, 1) translate(-1.500000, -250.000000) " x="0" y="0" width="3" height="500"></rect>
							</g>
						</g>
					</svg>
				</div>
				<!-- button start -->
			</div>
			<div class="game__right">
				<div class="settings">
					<!-- button settings -->
					<div>
						Hai accumulato <img src="./src/assets/money.png" width="16" class="coin" /> <strong>{{ coins }}</strong>
					</div>
				</div>
				<div v-if="word2discover" class="words">
					<p>La parola da indovinare è:</p>
					<div class="word2discover">
						<span v-for="(letter, i) in word2discover" :key="i" class="letter">
							<span>{{ goodLetters.includes(letter) ? letter : '' }}</span>
						</span>
					</div>
					<form>
						<!-- input solution -->
						<!-- button solution -->
						<p class="tip">Sblocca i campi sopra e dai la soluzione adesso! Se sbagli, il gioco finisce.</p>
					</form>
					<!-- message game over -->
				</div>
				<div class="dashboard">
					<div class="consonants">
						<p>Prova con una consonante:</p>
						<form>
							<input
								v-model="letter2check"
								type="text"
								maxlength="1"
								placeholder="inserisci una consonante"
								class="input input__letter"
								pattern="[^aeiou]"
								required
							/>
							<button class="action action__confirm" @click.prevent="confirm">Controlla</button>
						</form>
						<div class="tip tip__attemps">
							<p v-html="attempsMessage"></p>
						</div>
					</div>
					<div class="vocals">
						<p>oppure compra una vocale:</p>
						<ul>
							<li class="vocal">
								<!-- vocal -->
							</li>
						</ul>
						<!-- message tip -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="src/index.js"></script>
</body>

</html>