<!DOCTYPE html>
<html>

<head>
	<title>Impiccato</title>
	<meta charset="UTF-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="src/styles.scss" />
</head>

<body>
	<div id="app">
		<div class="game">
			<div class="game__left">
				<!-- svg -->
				<!-- button start -->
			</div>
			<div class="game__right">
				<div class="settings">
					<!-- button settings -->
					<div>
						Hai accumulato <img src="./src/assets/money.png" width="16" class="coin" /> <strong>{{ coins }}</strong>
					</div>
				</div>
				<div v-if="word2discover" class="words">
					<p>La parola da indovinare è:</p>
					<div class="word2discover">
						<span v-for="(letter, i) in word2discover" :key="i" class="letter">
							<span>{{ goodLetters.includes(letter) ? letter : '' }}</span>
						</span>
					</div>
					<form>
						<!-- input solution -->
						<!-- button solution -->
						<p class="tip">Sblocca i campi sopra e dai la soluzione adesso! Se sbagli, il gioco finisce.</p>
					</form>
					<!-- message game over -->
				</div>
				<div class="dashboard">
					<div class="consonants">
						<p>Prova con una consonante:</p>
						<form>
							<input
								v-model="letter2check"
								type="text"
								maxlength="1"
								placeholder="inserisci una consonante"
								class="input input__letter"
								pattern="[^aeiou]"
								required
							/>
							<button class="action action__confirm" @click.prevent="confirm">Controlla</button>
						</form>
						<div class="tip tip__attemps">
							<p v-html="attempsMessage"></p>
						</div>
					</div>
					<div class="vocals">
						<p>oppure compra una vocale:</p>
						<ul>
							<li class="vocal">
								<!-- vocal -->
							</li>
						</ul>
						<!-- message tip -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="src/index.js"></script>
</body>

</html>